<div class="title">
  <h1>Stupid Coaching</h1>
</div>

<div class="subtitle">
  <p>Ask your coach anything:</p>
</div>

<div class="form-container">
  <div class="form-outline">
    <form action="/answer" data-turbo="false" method="get">
      <div class="input-group">
        <input type="text" class="form-control rounded" placeholder="What would you like to ask?" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-primary">Ask!</button>
      </div>
    </form>
  </div>
</div>
